@import "../../bower/bourbon/app/assets/stylesheets/bourbon";
@import "fonts";
@import "list";

$red:     #ed3b2f;
$yellow:  #fff5d2;

body {
  background-color: lighten($yellow, 5%);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  line-height: 1em;
  font-family: 'Noticia Text';
  word-wrap: break-word;
  text-align: justify;
}

h1 {
  font-family: "MyriadPro-Bold";
}

.outer-wrapper {
  .content-container {

  }
  .content-inner-wrapper {
    margin: 0 5%;
  }
}
nav {

  button {

  }
}

header {
  background-color: $yellow;
  height: 15%;
  line-height: 125px;
  margin-bottom: 25px;
}

header img {
  vertical-align: middle;
}

header {
  .bar-left {
    img {
      margin-left: 25px;
    }
  }

  .bar-middle {
    h1 {
      border-top: 3px solid $red;
      border-bottom: 3px solid $red;

      font: {
        family: "Benthem-Regular";
        size: 1.2em;
      }

      color: $red;

      margin: 20px 0 0 0;
      padding: 0;
      text-align: center;
      line-height: 30px;

      .brand {
        line-height: 50px;
        display: block;
        font-size: 1.8em;
      }
    }
  }

  .bar-right {
    text-align: right;

    img {
      margin-right: 25px;
    }
  }
}

.navbar {
  margin: 2% 5%;
}

.bar-left {
  button {
    margin-left: 25px;
  }
}

.bar-right {
  text-align: right;
  button {
    margin-right: 25px;
  }
}

footer {
  height: 10%;
  margin-bottom: 25px;
}

#map {
  height: 400px;
}

#map-small {
  height: 200px;
  float: right;
}

.content-header {
  margin: 0 0 25px 0;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
}