<?php
    use ui\UI;
    use models\Categories;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
?>

<div class="row-fluid">
    <div id="dropzone" class="span3">
        <form action="<?= $app->url('Upload::img', 'sha1') ?>" class="dropzone dz-clickable" id="image-upload">
            <div class="dz-default dz-message">
                <?php if ($dish->img == null): ?>
                    <span id="no-img">Upload image!</span>
                    <img width=100 src="<?= Asset::image(['uploads', 'placeholder.png']) ?>" alt="" />
                <?php else: ?>
                    <img  width=75 height=100 src="<?= Asset::image(['uploads', $dish->img], ['w' => 800, 'h' => 600]) ?>" alt="" />
                <?php endif; ?>
            </div>
        </form>
    </div>

    <div class="span7">
        <?php if($disableAdvertise): ?>
            <label style="color:red">Only three dishes can be advertised!</label>
        <?php endif; ?>
        <form id="menu-form" method="POST" action="<?= $app->url('Menu::save', $dish->id) ?>">
            <fieldset>
                <?= UI::checkbox('advertised', 'Advertise', (bool) $dish->advertised, $dish-advertised, $errors['advertised'], $disableAdvertise) ?>
                <?= UI::textField('name', null, $dish->name, $errors['name'], 'Name') ?>
                <?= UI::combobox('category', null, $dish->category_id, $categories, 'id', 'name', $errors['category'], 'Category') ?>
                <?= UI::textField('price', null, $dish->price, $errors['price'], 'Price', false, '€') ?>
                <?= UI::textArea('description', null, $dish->description, $errors['description'], 'Description') ?>
                <?= UI::saveCancelButtons($app->url('Menu::index')) ?>
            </fieldset>
            <input id="filename" type="hidden" name="img" value="<?= $img ?>"  />
        </form>
    </div>
</div>

<?= UI::js(Asset::assets(['dropzone.js'])) ?>
<?= UI::js(Asset::assets(['jquery.menu-edit.js'], ['path' => 'views'])) ?>
<?= UI::css(Asset::assets(['dropzone.css'])) ?>