<?php
    use ui\UI;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
?>

<?php if($failure): ?>
    <div class="alert alert-error">
        <strong>Oh no!</strong> Login fehlgeschlagen, falsche Benutzerdaten?
    </div>
<?php endif; ?>

<form class="form-horizontal" method="POST" action="<?= $app->url('Security::login') ?>">
    <fieldset>
        <legend>Log dich ein…</legend>
        <div class="control-group">
            <label class="control-label" for="username">Benutzername</label>
            <div class="controls">
                <input type="text" name="username" id="username" placeholder="Benutzername"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Passwort</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Passwort"/>
            </div>
        </div>
        <div class="control-group">
            <input class="btn btn-primary" type="submit" id="login" name="login" value="Login"/>

            <a class="btn" href="<?= $app->url('Registration::index') ?>">Anmelden</a>

            <a class="btn" href="<?= $app->url('Application::index') ?>">Doch nicht…</a>
        </div>
    </fieldset>
</form>

<?= UI::js(Asset::assets(['plugins/jquery.security.login.js'], [])) ?>
